@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
  text-align: center;
  height: 100vh;
  background-color: #282828;
}

button {
    /* font-family: 'Roboto Mono', sans-serif; */
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
